* { /* este es para limpiar la pagina para empezar con un lienzo limpio (seteado)*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;

    padding: unset;
    margin: unset;
    border: unset;

    box-sizing: border-box;
}
.navbar { /*este es el div del header*/
    padding: 15px 60px;
    background-color: #793153;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
.navbar__nav { /* esta es la barra de navegacion*/
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: auto;
}
.navbar__nav__list { /*esta es la lista*/
    display: flex;
    gap: 105px;
    list-style: none;
}
.navbar__nav__list li { /*estos los elementos de la lista*/
    color: #ffff;
    font-weight: bold;
}
.navbar__nav__button { /*este es el boton*/
    padding: 19px 16px;
    border-radius: 15px;
    background-color: #D20062;
    font-weight: bold;
    color: #ffff;
}
.background { /*este es el fondo del header y aqui ponemos los padding*/
    padding: 23px 60px;

    background-image: url(assets/Back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.jumbotron { /*este es el jumbotron*/
    display: flex;
    align-items: center;
    padding: 0 0;
}
.jumbotron__container {
    gap: 52px;
    display: flex;
    flex-direction: column;
}
.jumbotron__container__title { /*este es el titulo del jumbotron*/
    font-size: 64px;
    font-weight: bold;
    color: #ffff;
}
.jumbotron__container__parrafo {
    font-size: 36px;
    font-weight: 700;
    color: #C4E4FF;
}

.jumbotron__container__button {
    background: unset;
    color: #ffff;
    display: flex;

    align-items: center;
    gap: 16px;
}

.jumbotron__container__imagen {
    border-radius: 15px;
    gap: ;

}

.card__title {
    font-size: 56px;
    font-family: 700;
    color: #D20062;
    display: flex;
    align-items: center;

}

.card__container {
    display: flex;
    gap: 20px;
    justify-content: start;
}

.card { 
    
}